$font-stack:    sans-serif;
$primary-color: #abb;



.basic {
  
  padding: 5px;
  margin : 0 0 0px;
  font-size: 20px;
}




    body {
       background-color: $primary-color;
       font: 100% $font-stack;
    }


.main_body{


    img {
        height: 20;
        width:20;
        padding: 10px;
    }



    #club_head {

    color: #ff0000;
    width: 50%;
    text-align: center;    
    padding : 20px;

    }


    h2, h3 {

    width: 50%;
    padding : 20px;
   }

}


.bullet_list {

   .line1 {
     @extend .basic;
     color:#31386d;
     
   }


   .line2{
    @extend .basic;
    color:yellow;
   }

   .line3{
    @extend .basic;
    color:indigo;
   }

}


#club_players {

    font-size: 30px;
    width: 50%;
    padding: 20px;  

}


table {
        border: 2px ;
        border-color: red;
        border-collapse: collapse;
        width: 50%;
        text-align: center;

        padding : 10px;
      }

th, td {
          border: 1px solid black;
          padding: 20px;
          text-align: center;
       }

th {
    background-color: gray;
   }

 tr:hover {background-color: #f5f5f5;}


@media print {
          .donotprint {
              display: none !important;
          }
      }


.container {


button {
                
                font-size: 20px;
                background-color: #658e5c;
                text-align: center;
                padding:20px;
        }

button:hover {
                background-color: orange;
        }


}


@media only screen and (max-width: 900px) {
    body {
        background-color: #2bf368;
    }
}